<% include partials/loginheader %>
<% include partials/timedate %>
	
</head>

<body onload="startTime()">
	
	<header>
		<img id="logo" src="/images/logowithtext.png" height="60" width="150"></img>
		<div id="txt"></div><br>
	</header>
	
	<nav id="navi">
		<button id="logout" class="btn link" data-toggle="modal" data-target="#myModal">Logout</button>
	</nav>
	
	<main>
	<div class="container">
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Logout</h4>
				</div>
				<div class="modal-body" action="/home/">
					<p>Are you sure want to logout?</p>
					
					<a href="/logout"><button>Yes</button></a>
					<a href="/userhome/<%= id %>"><button>No</button></a>
				</div>
			  </div>
			  
			</div>
		</div></div>
		
		<div class="row">
			<div class="col-sm-4">
				<a href="#">
				<div class="jumbotron" id="up5">
					<h3>Welcome, <%= user.username %>!</h3><br>
					<img src="/images/profile.png" height="155px" width="155px"></img>
					<br><br><br> <p style="text-align: center;">"Fail to Plan, Plan to Fail"</p><br>
				</div>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="/userhome/<%= id %>/expenses/">
				<div class="jumbotron" id="up6">
					<% var sum = 0 %>
					<% user.transactions.forEach(function(transaction){ %>
						<%sum += transaction.amount%>
					<% }) %>
					<h3>Your current balance is:</h3>
					<br><h2>RM<%= user.salary - sum %></h2>
					<br><br><h3>Your expenditure are:</h3>
					<br><h2>RM<%= sum %></h2><br>
				</div>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="/userhome/<%= id %>/goals/">
				<div class="jumbotron" id="up7">
					<h3>Your saving goals:</h3>
					<br><h2>RM<%= user.savingGoal %></h2>
					<br><br><h3>Expected monthly saving:</h3>
					<br><h2>RM<%= user.monthlySaving %></h2><br>
				</div>
				</a>
			</div>
		</div>
	</main>
	
<% include partials/loginfooter %>
</body>

</html>